@charset "UTF-8";

.vertical-offset-100 {
	padding-top: 100px;
}

.box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 30px;
	box-sizing: border-box;
	width: 100vw;
	height: auto;
	min-height: 100vh;
	border-style: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	background-position: center;
	background: url(/img/ramen07.jpg);
}

img.photo {
	border-radius: 30%;
	width: 180px;
	height: 180px;
}

.info {
	display: flex;
}

table.info {
	border-collapse: collapse;
}

table.info,
table.info tr,
table.info td {
	border: 1px solid;
	width: 300px;
}
