<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>認証完了</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/complete.css}" rel="stylesheet">
</head>
<body>
<header>
	<div class="head">
		<div class="login">
			<form th:action="@{/showReview}">
				<button id="logo"><span class="logo">RaaaaLife...</span></button>
			</form>
		</div>
	</div>
</header>

	<div class="container">
		<div>認証が完了しました。</div><br>
		<div>
			<img th:src="@{/img/waitRamen.png}" class="ramen">
		</div>
		<div>
			<a th:href="@{/login}">こちら</a>からログインを<br>お願いします。
		</div>
	</div>
</body>
</html>