<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<div class="box">
	<div class="container">
		<div class="row vertical-offset-100">
			<div class="col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">ログイン</h3>
					</div>
					<div class="panel-body">
						<fieldset>
							<form th:action="@{/doLogin}" method="post">
								<div class="alert alert-danger" th:if="${errorMessage}">
									<p th:text="${errorMessage}" style="color: red"></p>
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="メールアドレス" name="email"
										type="email">
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="パスワード"
										name="password" type="password">
								</div>
								<input class="btn btn-success btn-block" type="submit"
									value="ログイン">
							</form><br>
							<form th:action="@{/toRegister}" method="post">
								<button class="btn-block btn btn-primary">新規登録はこちら</button>
							</form><br>
							<div class="text-center">
								<a th:href="@{/reset}">パスワードを忘れてしまった場合</a>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>