<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/ramenShop_search.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
'use strict';
$(function(){
	var tag = [ [(${autoComplete})] ];
	
	$("#shopName").autocomplete({
		source: tag
	});
});
</script>
</head>
<body>
<header>
<form th:action="@{/showReview}"><button id="logo"><span class="logo">RaaaaLife</span></button></form>
</header>
	<div class="box">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">ラーメン店舗検索</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<div class="form-group">
									<a type="button" th:href="@{/ramenShop/toRegister}"
										class="btn btn-primary">ラーメン店舗新規登録</a>
								</div>
								<div class="form-group">
									<form th:action="@{/ramenShopSearch/search}" method="post">
										ラーメン店舗を検索する <br> <input type="text" name="shopName"
											id="shopName" th:value="${shopName}"> <input
											type="submit" value="検索">
									</form>
									<span th:text="${message}"></span>
								</div>
								<div class="form-group">
									<small>登録されているラーメン店舗一覧</small><br> <small
										style="color: red">もしここになければ新規登録してください</small>

									<form th:action="@{/review/toInsert}" method="post">
										<div th:each="ramenShop : ${ramenShopList}">
											<input type="radio" name="shopId"
												th:text="${ramenShop.shopName}"
												th:value="${ramenShop.shopId}">
										</div>
										<br>
										<div class="form-group">
											<input class="btn btn-success btn-block" type="submit"
												value="決定">
										</div>
									</form>

								</div>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>