<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/register_ramenShop.css}" rel="stylesheet">
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- <script th:src="@{/js/monday.js}"></script> -->
<!-- <script th:src="@{/js/tuesday.js}"></script> -->
<!-- <script th:src="@{/js/wednesday.js}"></script> -->
<!-- <script th:src="@{/js/thursday.js}"></script> -->
<!-- <script th:src="@{/js/friday.js}"></script> -->
<!-- <script th:src="@{/js/saturday.js}"></script> -->
<script th:src="@{/js/weekday.js}"></script>
<script th:src="@{/js/register_ramenShop.js}"></script>
</head>
<body>
	<div class="box">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">ラーメン店舗登録</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<form th:action="@{/ramenShop/register}" method="post"
									th:object="${ramenShopRegisterForm}"
									enctype="multipart/form-data">
									<div class="form-group">
										<label th:errors="*{shopName}" style="color: red">店舗名を入力してください</label>
										<input type="text" name="shopName" th:field="*{shopName}"
											class="form-control" placeholder="店舗名">
									</div>
									<div class="form-group">
										<label th:errors="*{zipcode}" style="color: red">郵便番号を入力してください</label>
										<input type="number" name="zipcode" th:field="*{zipcode}"
											id="zipcode" class="form-control" placeholder="郵便番号" pattern="\d{3}-?\d{4}">
										<input type="button" id="btn" value="検索">
									</div>
									<div class="form-group">
										<label th:errors="*{prefecture}" style="color: red">都道府県を入力してください</label>
										<input type="text" name="prefecture" class="form-control"
											id="prefecture" th:field="*{prefecture}" placeholder="都道府県">
									</div>
									<div class="form-group">
										<label th:errors="*{city}" style="color: red">市町村を入力してください</label>
										<input type="text" name="city" class="form-control"
											th:field="*{city}" id="city" placeholder="市町村">
									</div>
									<div class="form-group">
										<label th:errors="*{other}" style="color: red">その他を入力してください</label>
										<input type="text" name="other" class="form-control"
											th:field="*{other}" id="other" placeholder="その他">
									</div>
									<div class="form-group">
										<label th:errors="*{holidays}" style="color: red">休日を入力してください</label>
										<input type="text" name="holidays" class="form-control"
											th:field="*{holidays}" id="other" placeholder="休日️">
									</div>
									
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
								 営業時間登録
								</button>
								
								<!-- モーダルの設定 -->
								<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
								  <div class="modal-dialog" role="document">
								    <div class="modal-content">
								      <div class="modal-header">
								        <h5 class="modal-title" id="exampleModalLongTitle">ラーメン店舗営業時間</h5>
								      </div>
								      <div class="modal-body">
								      
								       		<label><input type="checkbox" value="月曜日" id="monday">月曜日</label>
												<div id="parentMon">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addMon"><br>
									
											<label><input type="checkbox" value="火曜日" id="tuesday">火曜日</label>
												<div id="parentTue">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addTue"><br>
											
											<label><input type="checkbox" value="水曜日" id="wednesday">水曜日</label>
												<div id="parentWed">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addWed"><br>
											
											<label><input type="checkbox" value="木曜日" id="thursday">木曜日</label>
												<div id="parentThu">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addThu"><br>
											
											<label><input type="checkbox" value="金曜日" id="friday">金曜日</label>
												<div id="parentFri">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addFri"><br>
											
											<label><input type="checkbox" value="土曜日" id="saturday">土曜日</label>
												<div id="parentSat">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addSat"><br>
											
											<label><input type="checkbox" value="日曜日" id="sunday">日曜日</label>
												<div id="parentSun">
														<!-- ここにinputが追加される -->
												</div>
											<input type="button" value="追加" id="addSun"><br>
												
								      </div>
								      <div class="modal-footer">
								        <button type="button" class="btn btn-secondary" data-dismiss="modal">決定</button>
								      </div>
								    </div>
								  </div>
								</div><br><br>

									<input class="btn btn-success btn-block" type="submit"
										value="登録">
								</form>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>