<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/register_user.css}" rel="stylesheet">
</head>
<body>
	<div class="box">
		<div class="container">
			<div class="row vertical-offset-100">
				<div class="col-md-4 col-md-offset-4">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title">新規登録</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<form th:action="@{/register}" method="post"
									th:object="${userRegisterForm}">
									<div class="form-group">
										<label th:errors="*{userName}" style="color: red">名前を入力してください</label>
										<input type="text" name="userName" th:field="*{userName}"
											class="form-control" placeholder="名前">
									</div>
									<div class="form-group">
										<label th:errors="*{userMail}" style="color: red">メールアドレスを入力してください</label>
										<input type="email" name="userMail"
											th:field="*{userMail}" class="form-control"
											placeholder="メールアドレス">
									</div>
									<div class="form-group">
										<label th:errors="*{password}" style="color: red">パスワードを入力してください</label>
										<input type="password" name="password" class="form-control"
											th:field="*{password}"
											pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
											placeholder="パスワード">
									</div>
									<div class="form-group">
										<label th:errors="*{confirmationPassword}" style="color: red"></label>
										<input type="password" name="confirmationPassword"
											class="form-control" th:field="*{confirmationPassword}"
											pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
											placeholder="確認用パスワード"><small style="color: red">パスワードは8文字以上、1文字以上の数字、小文字、大文字アルファベットが含まれていること</small>
									</div>
									<input class="btn btn-success btn-block" type="submit"
										value="登録">
								</form>
							</fieldset>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>