<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>レビュー詳細</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/review_detail.css}" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<link rel="shortcut icon" href="http://example.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="shortcut icon" href="http://www.iconj.com/ico/p/3/p354m72bm2.ico" type="image/x-icon" />
</head>

<script>
$(function(){
	$("#favorite-btn").on("click",function(){
		$("#favorite").submit();
	});
});
</script>
<body>
<header>
	<div class="head">
		<div class="bigInfo">
			<form th:action="@{/showReview}">
				<button id="logo"><span class="logo">RaaaaLife...</span></button>
			</form>
		</div>
		<div class="smallInfo">
			<ul>
				<li><a type="button" th:href="@{'/userDetail/toDetail?userId=' + ${user.userId}}"><span th:text="${user.userName}"></span>&nbsp;
				<img th:src="${user.userIcon.iconImagePath}" class="img" onerror="this.src='/img/user.jpg'"/></a></li>
				<li><a th:href="@{/review/toInsert}">投稿</a></li>
				<li><a th:href="@{/logout}">ログアウト</a></li>
			</ul>
		</div>
	</div>
</header>

	<form th:action="@{/favorite}" id="favorite" method="post">
		<input type="hidden" name="reviewId" th:value="${review.reviewId}">
	</form>
	
<div class="box">

	<div class="container">
	
		<img th:src="${review.ramenImage.imagePath}" class="postImg">
		
		<div class="small">
			<div class="top">
				<div class="icon">
					<img th:src="${review.user.userIcon.iconImagePath}" style="border-radius: 50%; width:15%; height: 40px; border:3px double;" onerror="this.src='/img/user.jpg'"/>
					<span th:text="${review.user.userName}" style="font-size: 16px;"></span>
				</div>
				
				<div class="ramen">
					🍜<span th:text="${review.ramenName}"></span><br>
					💰<span th:text="${#numbers.formatInteger(review.ramenPrice,1,'COMMA')}"></span><span>円</span>
				    <form th:action="@{/ramenShopDetail}" method="post">
						<input type="hidden" name="shopId" th:value="${review.ramenShop.shopId}">
						<button class="btn">🏠<span th:text="${review.ramenShop.shopName}" class="text"></span></button>
				    </form>
				</div>
			</div>
				<hr>
			
			<div class="comment">
				<img th:src="${review.user.userIcon.iconImagePath}" style="border-radius: 50%; width:8%; height: 40px;border:3px double;" onerror="this.src='/img/user.jpg'"/><strong><span th:text="${review.user.userName}"></span></strong> 
				&nbsp;&nbsp;<span th:text="${review.comments}" class="form"></span><br><small></small>
				<div th:each="comment:${review.commentList}">
					<img th:src="${comment.user.userIcon.iconImagePath}" style="border-radius: 50%; width:8%; height: 40px;border:3px double;" onerror="this.src='/img/user.jpg'"/><strong><span th:text="${comment.user.userName}"></span></strong> 
					&nbsp;&nbsp;<span th:text="${comment.content}" class="form"></span><br><small></small>
				</div>
			</div>
				
			<div class="post">
			<hr> 
			<div class="goodFavo">
				<div >
				<ul>
				 <li>
				  <span th:if="${favorite}"><a type="button" id="favorite-btn"><img th:src="@{/img/heart1.png}" class="noheart" style="width:40px; height: 40px"></a></span>
				  <span th:if="${nofavorite}"><a type="button" id="favorite-btn"><img th:src="@{/img/heart1.png}" class="heart" style="width:40px; height: 40px"></a></span>
				 </li>
				<!-- いいねボタン -->
				 <li>
					<button id="review" th:value="${review.reviewId}"><img th:src="@{/img/good.png}" class="good" style="width:30px; height: 30px" >
					<span th:text="${good}" id="textGood"></span><span>いいね!</span></button>
					<input type="hidden" th:value="${review.userId}" id="user">
				 </li>
				</ul>
				</div>
			</div>
			
				
				
				<form th:action="@{/detail/register}" method="post">
					<input type="hidden" name="reviewId" th:value="${review.reviewId}">
					<input type="text" name="content" placeholder="コメントを追加..." class="form-control" required>
					<button>投稿</button>
				</form>
				
				<input type="hidden" id="userId" th:value="${user.userId}">
				<div class="del">
					<form th:action="@{/detail/delete}" method="post">
						<button class="btn" id="del">削除</button>
					<input type="hidden" id="reviewUserId" th:value="${review.userId}" name="userId">
					<input type="hidden" id="reviewId" th:value="${review.reviewId}" name="reviewId">
					</form>
				</div>
			</div>
			
		</div>
	
	</div>
		
</div>	


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/review_detail.js}"></script>


</body>
</html>