<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/review_detail.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/review_detail.js}"></script>
</head>
<body>
	<div th:text="${review.ramenName}"></div>

	<div th:text="${review.ramenPrice}"></div>

	<div th:text="${review.ramenShop.shopName}"></div>

	<div th:text="${review.createdBy}"></div>

	<img class="img" th:src="${review.ramenImage.imagePath}">

	<div th:each="monday :${reviewMondayList}">
		<span th:if="${monday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'月曜日 : ' + ${monday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${monday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${monday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${monday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'月曜日 : ' + ${monday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${monday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${monday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${monday.ramenShop.ramenShopTime.otherTime}"
			th:text="'月曜日 : ' + ${monday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="tuesday :${reviewTuesdayList}">
		<span th:if="${tuesday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'火曜日 : ' + ${tuesday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${tuesday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${tuesday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${tuesday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'火曜日 : ' + ${tuesday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${tuesday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${tuesday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${tuesday.ramenShop.ramenShopTime.otherTime}"
			th:text="'火曜日 : ' + ${tuesday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="wednesday :${reviewWednesdayList}">
		<span th:if="${wednesday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'水曜日 : ' + ${wednesday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${wednesday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${wednesday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${wednesday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'水曜日 : ' + ${wednesday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${wednesday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${wednesday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${wednesday.ramenShop.ramenShopTime.otherTime}"
			th:text="'水曜日 : ' + ${wednesday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="thursday :${reviewThursdayList}">
		<span th:if="${thursday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'木曜日 : ' + ${thursday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${thursday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${thursday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${thursday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'木曜日 : ' + ${thursday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${thursday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${thursday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${thursday.ramenShop.ramenShopTime.otherTime}"
			th:text="'木曜日 : ' + ${thursday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="friday :${reviewFridayList}">
		<span th:if="${friday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'金曜日 : ' + ${friday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${friday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${friday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${friday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'金曜日 : ' + ${friday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${friday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${friday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${friday.ramenShop.ramenShopTime.otherTime}"
			th:text="'金曜日 : ' + ${friday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="saturday :${reviewSaturdayList}">
		<span th:if="${saturday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'土曜日 : ' + ${saturday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${saturday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${saturday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${saturday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'土曜日 : ' + ${saturday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${saturday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${saturday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${saturday.ramenShop.ramenShopTime.otherTime}"
			th:text="'土曜日 : ' + ${saturday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>


	<div th:each="sunday :${reviewSundayList}">
		<span th:if="${sunday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'日曜日 : ' + ${sunday.ramenShop.ramenShopTime.noonStartTime} + ' 時 〜'"></span>
		<span th:if="${sunday.ramenShop.ramenShopTime.noonEndTime}"
			th:text="${sunday.ramenShop.ramenShopTime.noonEndTime} + '時'"></span>

		<span th:if="${sunday.ramenShop.ramenShopTime.noonStartTime}"
			th:text="'日曜日 : ' + ${sunday.ramenShop.ramenShopTime.nightStartTime} + ' 時 〜'"></span>
		<span th:if="${sunday.ramenShop.ramenShopTime.nightEndTime}"
			th:text="${sunday.ramenShop.ramenShopTime.nightEndTime} + '時'"></span>

		<span th:if="${sunday.ramenShop.ramenShopTime.otherTime}"
			th:text="'日曜日 : ' + ${sunday.ramenShop.ramenShopTime.otherTime}"></span>
	</div>
	
	<input type="hidden" id="reviewUserId" th:value="${review.userId}">
	<input type="hidden" id="userId" th:value="${user.userId}">

	<form>
		<button class="btn btn-primary" id="del">削除</button>
	</form>
</body>
</html>