<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>レビュー一覧</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/review_list.css}" rel="stylesheet">
<link rel="shortcut icon" href="http://example.com/favicon.ico" type="image/vnd.microsoft.icon">
<link rel="shortcut icon" href="http://www.iconj.com/ico/p/3/p354m72bm2.ico" type="image/x-icon" />
</head>
<body>

<header>
	<div class="head">
		<div class="bigInfo">
			<form th:action="@{/showReview}">
				<button id="logo"><span class="logo">RaaaaLife...</span></button>
			</form>
		</div>
		<div class="smallInfo">
			<ul>
				<li><a type="button" th:href="@{'/userDetail/toDetail?userId=' + ${user.userId}}"><span th:text="${user.userName}"></span>&nbsp;
				<img th:src="${user.userIcon.iconImagePath}" class="img" onerror="this.src='/img/user.jpg'"/></a></li>
				<li><a th:href="@{/review/toInsert}">投稿</a></li>
				<li><a th:href="@{/logout}">ログアウト</a></li>
			</ul>
		</div>
	</div>
</header>

<!-- スライダー -->
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img th:src="@{/img/ramen03.jpg}" alt="Swiper01" style="width: 50%; height: 500px;"></div>
      <div class="swiper-slide"><img th:src="@{/img/ramen.jpg}" alt="Swiper01" style="width: 50%; height: 500px;"></div>
      <div class="swiper-slide"><img th:src="@{/img/ramen09.jpg}" alt="Swiper01" style="width: 50%; height: 500px;"></div>
      <div class="swiper-slide"><img th:src="@{/img/ramen10.jpg}" alt="Swiper02" style="width: 50%; height: 500px;"></div>
      <div class="swiper-slide"><img th:src="@{/img/ramen12.jpg}" alt="Swiper03" style="width: 50%; height: 500px;"></div>
    </div>
</div>

<hr size="50" color="red">

<div th:text="${message}" style="font-size: 20px; text-align: center; color: white;"></div>

<main>
	<section>
		<div class="card-deck card">
			<div class="row row-eq-height">
				<div class="col-md-3 col-sm-6 col-xs-12 col" th:each="review : ${reviewList}">
					<div class="card ramen">
						<a th:href="@{'/detail?reviewId=' + ${review.reviewId}}"> 
						<input type="hidden" name="userId"> 
						<img class="card-img-top img-fluid row-eq-height photo" th:src="${review.ramenImage.imagePath}"></a>
						<div class="card-body px-2 py-3 text-center">
							<a th:href="@{'/detail?reviewId=' + ${review.reviewId}}">
								<input type="hidden" name="userId"> 
								<span class="card-title" th:text="${review.ramenShop.shopName}"></span><br>
							</a> post by <span th:text="${review.user.userName}"></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
	
	
	<!-- pagination -->
	<div class="pages">
		<nav class="page-nav">
			<ul class="pager">
				<li class="previous" th:if="${start != 0}">
				<a th:href="@{'/showReview?start='+${start - 8}}">&larr; prev</a></li>
				<li class="next" th:if="${count > start + 8}">
				<a th:href="@{'/showReview?start='+${start + 8}}">next &rarr;</a></li>
			</ul>
		</nav>
	</div>
	
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/review_list.js}"></script>
<script>var swiper = new Swiper('.swiper-container', {
	  navigation: {
		    nextEl: '.swiper-button-next',
		    prevEl: '.swiper-button-prev',
		  },
		  loop: true,
		 　effect : 'flip'	,
		  autoHeight: true,
		  autoplay: {
			    delay: 3000,
			    disableOnInteraction: true
		  },
		});
</script>
</body>
</html>