<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/review_list.css}" rel="stylesheet">
</head>
<body>
	<header>
		<div class="top">
			<p>このサイトはあなたが食べたラーメンを記録していくものです。食べたものを記録して、みんなと記録を共有しましょう。</p>
		</div>
		
		<div class="info">
			<h1>
				<a th:href="@{/article}"><img th:src="@{/img/sign.jpg}" class="sign"></a>
			</h1>
			<div class="center">
			<h2 class="title">らぁめん記録</h2>
<!-- 				<ul class="list"> -->
<!-- 					<li><a th:href="@{/logout}">ログアウト</a></li> -->
<!-- 					<li><a th:href="@{'/user/toUserDetail?id=' + ${user.id}}"><span -->
<!-- 							sec:authorize="hasRole('ROLE_USER')"><span -->
<!-- 								sec:authentication="principal.user.name"></span></span></a></li> -->
<!-- 					<li><a th:href="@{/article/toInsert}">投稿</a></li> -->
<!-- 				</ul> -->
			</div>
		</div>
		<div class="top"></div>
	</header>
	
	<main>
		<div th:text="${message}" style="font-size: 20px; text-align: center;"></div>
		
		<section>
			<div class="container">
				<div class="each" th:each="review : ${reviewList}">
					<a th:href="@{'/ramenShop/detail?id=' + ${review.reviewId}}"> 
						<input type="hidden" name="userId"> 
						<img class="img" th:src="${review.ramenImage.imagePath}">
					</a><br>
					<a th:href="@{'/ramenShop/detail?id=' + ${review.reviewId}}"> 
						<input type="hidden" name="userId">
						<span class="card-title" th:text="${review.ramenShop.shopName}"></span><br>
					</a>
						post by <span th:text="${review.createdBy}"></span>
				</div>
			</div>
		</section>
	</main>
		<!-- pagination -->
<!-- 		<div class="pages"> -->
<!-- 			<nav class="page-nav"> -->
<!-- 				<ul class="pager"> -->
<!-- 					<li class="previous" th:if="${start != 0}"> -->
<!-- 					<a th:href="@{'/article?start='+${start - 8}}">&larr; prev</a></li> -->
<!-- 					<li class="next" th:if="${count >= start * 2}" th:unless="${start == 0}"> -->
<!-- 					<a th:href="@{'/article?start='+${start + 8}}">next &rarr;</a></li> -->
<!-- 				</ul> -->
<!-- 			</nav> -->
<!-- 		</div> -->
</body>
</html>