<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/css/review_detail.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/review_detail.js}"></script>
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(function(){
	$("#favorite-btn").on("click",function(){
		$("#favorite").submit();
	});
});
</script>
<body>
<header>
<form th:action="@{/showReview}">
	<button id="logo"><span class="logo">RaaaaLife</span></button>
</form>
</header>

	<form th:action="@{/favorite}" id="favorite" method="post">
		<input type="hidden" name="reviewId" th:value="${review.reviewId}">
	</form>
	
	
	<div class="container">
			<img th:src="${user.userIcon.iconImagePath}" style="border-radius: 30%; width:8%" onerror="this.src='/img/user.jpg'"/>
			<span th:text="${review.user.userName}"></span>
			<span th:if="${favorite}"><a type="button" id="favorite-btn"><img th:src="@{/img/heart1.png}" class="noheart" style="width:30px; height: 30px"></a></span>
			<span th:if="${nofavorite}"><a type="button" id="favorite-btn"><img th:src="@{/img/heart1.png}" class="heart" style="width:30px; height: 30px"></a></span>
		
		<div class="img">
			<img th:src="${review.ramenImage.imagePath}" style="width:100%; height: 470px">
		</div><br>
		
		<div class="ramen">
			<span th:text="${review.ramenName}"></span>
			<span th:text="${review.ramenPrice}"></span><span>円</span>
		</div>
		
		<div class="shopInfo">
		    <form th:action="@{/ramenShopDetail}" method="post">
				<input type="hidden" name="shopId" th:value="${review.ramenShop.shopId}"><br>
				<button class="btn">🍜<span th:text="${review.ramenShop.shopName}" class="text"></span></button>
		    </form>
			🏠<span class="text1" th:text="${review.ramenShop.prefecture}"></span>
			<span class="text2" th:text="${review.ramenShop.city}"></span>
			<span class="text3" th:text="${review.ramenShop.other}"></span>
		</div>
			<input type="hidden" id="userId" th:value="${user.userId}">
		<div class="del">
			<form th:action="@{/detail/delete}" method="post">
				<button class="btn" id="del">削除</button>
			<input type="hidden" id="reviewUserId" th:value="${review.userId}" name="userId">
			<input type="hidden" id="reviewId" th:value="${review.reviewId}" name="reviewId">
			</form>
		</div>
	</div>
</body>
</html>